server:
  port: 9000
  servlet:
    encoding:
      charset: UTF-8
      force: true

jasypt:
  encryptor:
    bean: jasyptStringEncryptor

#    password: ${jasypt.encryptor.password}

cloud:
  aws:
    stack:
      auto: false
    region:
      static: ap-northeast-2
    credentials:
      access-key: AKIA6ALO2TVYISMGZ645
      secret-key: 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
    s3:
      bucket: wanted-server-s3

spring:
  application:
    name: wanted-server

  datasource:
    url: jdbc:mysql://wook2-rds.c7vimhuuowv7.ap-northeast-2.rds.amazonaws.com/WantedDB?autoReconnect=true
    username: admin
    password: ENC(QTAiVvnawsT6rdz4sDZE9h9lRIRtJfqA)
    driver-class-name: com.mysql.cj.jdbc.Driver # mysql 8버전


  security:
    user:
      name: user
      password: test
    oauth2:
      client:
        registration:
          kakao:
            client-id: e913a5ec326dd4fce079b58b11d899ba
#            TODO
#            추후에 prod yaml 파일 생성해 localhost 를 도메인으로 바꿔줄것
            redirect-uri: https://prod.wook2.xyz/login/kakao
            client-authentication-method: POST
            authorization-grant-type: authorization_code
            scope: profile_nickname, account_email
            client-name: Kakao
        provider:
          kakao:
            authorization_uri: https://kauth.kakao.com/oauth/authorize
            token_uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user_name_attribute: id
  sql:
    init:
      platform: mysql

  servlet:
    multipart:
      max-file-size: 20MB
      max-request-size: 20MB

mybatis:
  type-aliases-package: com.mockrc8.app.domain.**.dto, com.mockrc8.app.domain.**.vo
  mapper-locations: mybatis/mapper/**/*.xml
  configuration:
    jdbc-type-for-null: 'NULL'

pagehelper:
  helper-dialect: mysql
  reasonable: true

secret.jwt_key :  ENC(6x+KiFvHW/2XYWyFtEg/hKibc2c56qGg)
secret.db_key  :  ENC(8nb/IMUjJAC79s4NMyfyEXdgh29IvbLa)




